# bh_shared

<!-- #include readme-intro.md -->

<!-- #include readme-motivation.md -->

<!-- #include readme-features.md -->

<!-- #include readme-quickstart.md -->

<!-- #toc -->

<!-- #include readme-usage.md -->